div.scrollmenu {
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
  margin-left: 0;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#homeCarousel div div img {
  min-height: 350px;
  max-height: 75vh;
  object-fit: cover;
}

.category div {
  border: 0;
}
.category div div a {
  color: black;
  text-decoration: none;
}

.category div div a img {
  border-radius: 10%;
  object-fit: cover;
  max-height: 200px;
  /* width: auto; */
}

@media screen and (max-width: 768px) {
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .nav-bar-items {
    margin: auto;
  }
}
